{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
{% if msg_suc %}
    <div class="alert alert-dismissible alert-success text-center">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{msg_suc| safe}}
      </div>
{% elif msg_info %}
    <div class="alert alert-dismissible alert-info text-center">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{msg_info| safe}}
      </div>
{% elif msg_err %}
    <div class="alert alert-dismissible alert-danger text-center">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{msg_err| safe}}
      </div>
{% endif %}
<div class="container">
    {% if request.user.is_authenticated %}
        <a href="{% url 'main:logout' %}" style="margin-top:1%" class="btn btn-danger pull-right">Logout</a>
    {% endif %}
</div>
{% block content %}

{% endblock %}
</div>
</body>
</html>
